.users div {
    border-radius: 20px;
    border: none;
    width: 20%;
    padding: 20px;
    background-color: green;
    color: white;
}

.users {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}